<div class="card card-5 container mt-5">
    <h1>Chat (Compresión: <span id="compresion"></span>%)</h1>
    <br>

    <input type="text" id="username" class="form-control w-50 my-2 mr-2" placeholder="Ingrese su email">
    <input type="text" id="firstname" class="form-control w-50 my-2 mr-2" placeholder="Ingrese su nombre">
    <input type="text" id="lastname" class="form-control w-50 my-2 mr-2" placeholder="Ingrese su apellido">
    <input type="text" id="age" class="form-control w-50 my-2 mr-2" placeholder="Ingrese su edad">
    <input type="text" id="alias" class="form-control w-50 my-2 mr-2" placeholder="Ingrese su alias">
    <input type="text" id="avatar" class="form-control w-50 my-2 mr-2" placeholder="Ingrese el URL de su avatar">
    <hr>

    <hr>

    <div id="messages"></div>

    <form id="submitMessage" class="form-inline" autocomplete="off">
        <div class="form-group">
            <input id="inputMessage" type="text" class="form-control my-2 mr-2"
                placeholder="Ingrese un mensaje...">
            <button id="submit" type="submit" class="btn btn-primary my-2">Enviar</button>
        </div>
    </form>
</div>
</div>