<div class="text-white">Bienvenido, <%= nameUser.charAt(0).toUpperCase() + nameUser.slice(1).toLowerCase() %>
</div>
<form action="/logout" method="post">
    <input type="submit" class="fs-6 ms-3 btn btn-info rounded-pill" name="upvote" value="LOGOUT" />
</form>