<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body class="bg-dark ">
    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: salmon;color: white;">
            <h1>USER ERROR SIGNUP</h1>
    
            <button class="btn btn-warning my-5"><a class="text-white text-decoration-none" href="/">VOLVER</a></button>
        </div>
    </div>
</body>

</html>